body{
    margin: 0px;
    background-image: url("bookshelf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
h1{
    color: rgb(51, 51, 51);
    background-color: rgb(182, 182, 182);
    text-align: center;
    padding: 15px;
    margin-top: -5px;
}
h2{
    color: rgb(51, 51, 51);
    background-color: rgb(186, 186, 186);
    padding: 20px;
    margin: -20px -20px 20px -20px;
    border-radius: 15px 15px 0px 0px;
}
label{
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
input{
    border-style: none;
    width: 90%;
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
    padding: 7px;
    margin: 7px 0px 5px 0px;
}
.edit input{
    width: 40%;
}
#bacaBuku{
    width: 10%;
}
button{
    background-color: rgb(70, 70, 70);
    color: rgb(228, 228, 228);
    border-style: none;
    border-radius: 5px;
    padding: 7px;
    margin: 7px 0px 5px 0px;
}
/* .edit button{
    background-color: rgb(62, 79, 62)
} */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    
}
.input{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 15px 10px;
    width: 280px;
    border-radius: 15px;
    float: left;
    
}
.rak{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 15px 10px;
    width: 280px;
    border-radius: 15px;
    float: left;
    
}
.edit{
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin: 15px 10px;
    width: 360px;
    border-radius: 15px;
    float: left;
    
}
pre{
    background-color: rgb(70, 70, 70);
    color: rgb(233, 233, 233);
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .input,.edit,.rak{
        float: none;
        width: 75%;
        margin: 15px auto;
    }
    body{
        backdrop-filter: url(commonfilters.svg#filter);
    backdrop-filter: blur(10px);
    }
    input{
        width: 95%;
    }
    .edit input{
        width: 95%;
    }
    body{
        font-size: 80%;
    }
}
